@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

select,
textarea,
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c2bfbf;
    opacity: 0.9;
    transition: 0.3s;
    border-radius: 20px;
}

:root {
    --background-color: #eaf5f7;
    --text-color: #dfebed;
    --dark-yellow: #ffa815;
    --yellow: #ffca42;
    --dark-purple: #312682;
    --purple: #513de1;
    --brand-color: #ffd200;
    --orange-form: #E24023;
    --montserrat: "Montserrat", sans-serif;
}

/* Body Style */
body {
    background-color: var(--background-color);
    overflow: hidden;
    background-image: url(../img/backgroundIndiqueObra.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1180px) {
    body {
        min-height: 94em;
    }
}

@media screen and (max-width: 1180px) {
    body {
        min-height: 94em;
    }
}

/* Main Style */

.transparentSection {
    width: 90%;
    max-width: 90%;
    height: 88vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 42px;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
}

.generalDiv {
    display: flex;
}

.texts {
    padding: 1em;
}

.texts h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    letter-spacing: 3px;
    white-space: nowrap;
}

.texts p {
    color: #fff;
    font-family: var(--montserrat);
    min-width: 38vw;
    min-height: 15vh;
    text-align: justify;
    margin-top: 3%;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.aboutForm {
    height: 4vh !important;
}

@media screen and (max-width: 1552px) {
    .textsForm .form-footer {
        gap: 2vw;
        flex-direction: column;
    }

}

.form form {
    background-color: rgba(255, 255, 255, 0.3);
    width: 32vw;
    max-width: 80vw;
    margin: 2vh auto;
    border-radius: 30px;
    height: 84vh;
    font-family: var(--montserrat);
}

form {
    padding: 1.5em;
}

.form {

    min-width: 40vw;
}

@media screen and (max-width: 1000px) {
    .form form {
        width: 28vw;
        max-width: 38vw;
    }
}

.textsForm {
    display: flex;
    flex-direction: column;
}

.textsForm .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.textsForm h1 {
    color: #fff;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 2em;
    margin: 0.40em 0px !important;
}

.input-group {
    position: relative;
    margin: 7px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
    z-index: 1;
}


.input-group input.has-value+label,
.input-group textarea.has-value+label,
.input-group input:focus+label,
.input-group textarea:focus+label {
    top: -4.3%;
    font-size: 14px;
    background-color: var(--orange-form);
    transform: translateY(0);
    border-radius: 20px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.5em;
    height: 6vh;
    margin-top: 0.5em;
    border: none;
    border-radius: 5px;
    font-family: var(--montserrat);
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    transition: all .3s ease;
}

.input-group input:hover,
.input-group textarea:hover {
    border: 1px solid #000;
}

.input-group input:focus,
.input-group textarea:focus {
    border: 1px solid var(--orange-form) !important;
}

.address-group {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.address-item {
    flex: 1;
}

.textsForm textarea {
    height: 6vh;
    resize: vertical;
    max-height: 6vh;
}

.textsForm button {
    background-color: var(--orange-form);
    color: #fff;
    border: none;
    padding: .5em 2em;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--montserrat);
    text-transform: uppercase;
    border-radius: 30px;
    width: 40%;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.textsForm p {
    color: #fff;
    font-family: var(--montserrat);
}

.attachment {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 1.5vh;
    font-family: var(--montserrat);
}

.attachment form {
    display: flex;
    gap: 20px;
}

.attachment label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34vw;
    max-width: 34vw;
    height: 33vh;
    max-height: 37vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.attachment label:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.attachment input[type="file"] {
    display: none;
}

.underline {
    text-decoration: underline;
    display: block;
}

.custom-arrow-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    width: 3%;
}

.custom-arrow-link i {
    transition: color 0.3s;
}

.custom-arrow-link:hover i {
    color: #fff;
}

.custom-arrow-link:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

.dropdown,
.orange {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        min-height: 122vh;
        overflow: auto !important;
    }

    .attachment form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .generalDiv {
        flex-direction: column;
        gap: 2em;
    }

    .texts h1 {
        text-align: center;
        font-size: 1.7rem;
    }

    .texts p {
        width: 76vw;
        min-height: 21vh;
    }

    .transparentSection {
        height: auto;
        margin-bottom: 2vh;
    }


    .attachment label {
        width: 80%;
        max-width: 60vw;
        height: auto;
        border-radius: 75px;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        min-height: 82vh;
    }

    .form form {
        min-width: 83vw;
        max-width: 88vw;
        margin: 0px;
        height: auto;
    }

    .textsForm button {
        width: 71vw;
    }

    .textsForm .form-footer {
        flex-direction: column-reverse;
    }

    .textsForm p {
        margin: 1em;
        width: 66vw;
    }

    /* Menu Celular */

    .orange {
        background-color: #FF8F00;
        z-index: 9999;
        position: fixed;
        left: 12.5vw;
        height: 7vh;
        width: 13.8vw;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .orange img {
        max-width: 70%;
        max-height: 100%;
    }

    .dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #161616;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .dropdown.open {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
        z-index: 10000;
    }

    .lineMenu {
        color: var(--dark-yellow);
        width: 80%;
        height: 1px;
        background-color: var(--dark-yellow);
        margin: 10px 0;
    }

    .inspiracoes,
    .lojaMenu,
    .agendaMenu,
    .publiqueObraMenu,
    .indiqueUmaObraMenu,
    .contaMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: var(--montserrat);
        color: var(--text-color);
        font-weight: lighter;
        padding: 10px 0;
        text-align: center;
    }

    .dropdown-item img {
        width: 24px;
        height: 24px;
    }

    /* Menu Celular End */
}