@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple);
}

::-webkit-scrollbar-track {
    background-color: #000;
}


::-webkit-scrollbar-thumb {
    background-color: #6a040f;
    transition: 0.3s;
    border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

select,
textarea,
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}

input:focus {
    outline: none;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c2bfbf;
    opacity: 0.9;
    transition: 0.3s;
    border-radius: 20px;
}

:root {
    --background-color: #eaf5f7;
    --text-color: #dfebed;
    --dark-yellow: #ffa815;
    --yellow: #ffca42;
    --dark-purple: #312682;
    --purple: #513de1;
    --brand-color: #ffd200;
    --orange-form: #E24023;
    --montserrat: "Montserrat", sans-serif;
}

/* Body Style */
body {
    background-color: var(--background-color);
    overflow-x: hidden;
    background-image: url(../img/backgroundLojaLight.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.transparentSection {
    min-width: 98%;
    min-height: 96vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 42px;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
}

/* Header Style */

.generalHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: #fff;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1em;
    font-family: var(--montserrat);
}

.logo img {
    width: 3vw;
    height: auto;
    margin-left: 4.5vw;
}

.delivery-info {
    margin-left: 2vw;
}

.delivery-info p {
    margin: 0;
    font-weight: lighter;
    min-width: 15vw;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: #fff;
}

.location svg {
    margin-right: 0.5rem;
}

.location a {
    text-decoration: none !important;
    color: #fff;
}

#nameCity {
    font-weight: 300;
}

.dropdown {
    margin-left: 2vw;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: .5vw;
    position: relative;
}

.search-container input {
    padding-left: 4vw;
    border-radius: 40px;
    border: 2px solid #fff;
    height: 7vh;
    width: 33vw;
    max-width: 30.5vw;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}

.search-container input::placeholder {
    color: #ffffff79;
    font-weight: lighter;
}

.search-container svg {
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 1px;
    width: 3vw;
    height: 4vh;
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1);
        background-color: transparent;
        font-weight: normal;
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
        background-color: #312682;
        font-weight: bold;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        background-color: transparent;
        font-weight: normal;
    }
}

.blink {
    animation: blink 0.5s ease-in-out;
    border-radius: 3px;
    padding: 2px 4px;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    cursor: pointer;
}

#bag-badge {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

#bag-badge.updated {
    transform: scale(1.5);
    opacity: 0.8;
}


.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    color: #fff;
    position: relative;
    text-decoration: none;
    /* Remove o sublinhado dos links */
}

.icons svg {
    width: 6vw;
    height: 3vh;
}

.icon span {
    font-family: var(--montserrat);
    font-weight: lighter;
    font-size: 1rem;
}

.icon a {
    text-decoration: none;
    /* Remove sublinhado do link */
    color: inherit;
    /* Inherit para usar a cor definida no pai (.icon) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    position: absolute;
    top: -5px;
    right: 1vw;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}


/* Dropdown Style */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 52px;
    color: white;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 20vw;
    min-width: 10vw;
    height: 8vh;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.dropdown-toggle .typeOfFilter {
    font-weight: lighter;
}

.dropdown-toggle .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle .icon svg {
    fill: white;
    width: 4vw;
    height: 6vh;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 36px;
    padding: 1rem;
    z-index: 1050;
    top: 105%;
    left: 0;
    min-width: 100%;
    transition: all .3s ease;
}

.dropdown-menu:hover {
    background-color: #ECECEC;
}

.dropdown-item {
    color: #000 !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    border-radius: 5em;
    width: 100%;
    text-align: center;
    transition: all .3s ease;

}

.dropdown-item:hover {
    background-color: var(--dark-purple);
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Carousel Style */

.carousel {
    position: relative;
    width: 95%;
    max-width: 100vw;
    height: 34vh;
    overflow: hidden;
    border-radius: 21px;
    z-index: -1;
    margin: 0 auto;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 42vh;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 81%;
    object-fit: cover;
    object-position: center;
}

.carousel-indicators [data-bs-target] {
    width: 25vw;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: white;
    border: none;
    margin: 0 5px;
}

.carousel-indicators button.active {
    background-color: var(--dark-yellow);
}

/* Card Style */

.cardContainer {
    display: flex;
    margin: 4vw;
    flex-wrap: wrap;
    gap: 3.5vw;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 1vh;
}

.product-price {
    font-family: var(--montserrat);
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.5rem;
    /* Aumenta o tamanho da fonte para torná-lo mais visível */
    letter-spacing: 1px;
    /* Adiciona espaçamento entre as letras para um efeito mais nítido */
    text-transform: uppercase;
    /* Torna o texto em caixa alta para um visual mais forte */
    padding: 5px 10px;
    /* Adiciona espaçamento ao redor do preço */
    border-radius: 10px;
    /* Bordas arredondadas para suavizar */
    transition: all 0.3s ease;
    /* Transição suave ao interagir com o preço */
}

.product-price:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(var(--dark-purple), 0.3);
    /* Destaque ao focar o preço */
}



.card {
    background-color: #ECECEC;
    width: 18.8vw;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    border: none;
    background: none;
    padding: 2%;
}

.favorite-icon svg,
.info-icon svg {
    font-size: 24px;
    cursor: pointer;
    color: #3E30AB;
    transition: all .3s ease;
}

.favorite-icon svg:hover,
.info-icon svg:hover {
    transform: scale(1.09);
}

.favorite-icon svg:active,
.info-icon svg:active {
    transform: scale(0.09);
}

.book-image {
    max-width: 17vw;
    max-height: 41vh;
    position: relative;
    z-index: -1;
    margin: 29px auto;
}

.product-name {
    font-family: var(--montserrat);
    color: var(--dark-purple);
    font-size: 1.2em;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}

/* Botão de compra */
.buy-button {
    background-color: var(--dark-purple);
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    /* Aumenta o arredondamento para um visual mais suave */
    cursor: pointer;
    font-size: 1rem;
    /* Aumentei o tamanho da fonte para um visual mais legível */
    margin-top: 15px;
    height: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease, transform 0.2s ease;
    /* Efeito de transformação suave */
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra suave */
}

.buy-button:hover {
    background-color: var(--purple);
    color: var(--text-color);
    border: 1px solid var(--dark-purple);
    transform: translateY(-3px);
    /* Adiciona um efeito de elevação */
}

.buy-button:focus {
    outline: none;
    /* Remove o contorno padrão */
    box-shadow: 0 0 0 4px rgba(var(--dark-purple), 0.3);
    /* Destaque ao focar no botão */
}

/* Botão de descrição */
.description-button {
    background-color: var(--background-color);
    border: 1px solid var(--dark-purple);
    color: var(--dark-purple);
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    height: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description-button:hover {
    background-color: var(--dark-yellow);
    color: var(--dark-purple);
    transform: translateY(-3px);
}

.description-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(var(--dark-purple), 0.3);
}


.menu-hamburger {
    display: none;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    position: absolute;
    width: 7.7vw;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

.menu-toggle.active .hamburger {
    transform: rotate(45deg);
}

.menu-toggle.active .hamburger::before {
    transform: rotate(90deg);
}

.menu-toggle.active .hamburger::after {
    transform: rotate(90deg);
    opacity: 0;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-overlay.active {
    display: flex;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items .icon {
    margin: 1rem 0;
    text-align: center;
}

.menu-items .icon svg {
    width: 32px;
    height: 32px;
}

.menu-items .icon span {
    display: block;
    margin-top: 0.5rem;
}

@media screen and (max-width: 425px) {

    .transparentSection {
        min-width: 98vw;
        width: 129vw;
        min-height: 129vh;
    }

    .carousel {
        width: 100vw;
    }

    .icons {
        display: none;
    }

    .menu-hamburger {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .cardContainer {
        position: relative;
        z-index: -1;
    }

    .menu-toggle {

        position: relative;
        z-index: 1001;
    }
}