@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
/* General Styles */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


select,
textarea,
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c2bfbf;
    opacity: 0.9;
    transition: 0.3s;
    border-radius: 20px;
}

:root {
    --background-color: #eaf5f7;
    --text-color: #dfebed;
    --dark-yellow: #ffa815;
    --yellow: #ffca42;
    --dark-purple: #312682;
    --purple: #513de1;
    --brand-color: #ffd200;
    --montserrat: "Montserrat", sans-serif;
}

body,
html {
    background-color: var(--background-color);
    overflow-x: hidden;
    background-image: url(../img/imagemBackgroundRegister.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--montserrat);
    height: auto;
    min-height: 100vh;
}

/* Return Style */

.backToMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 2%;
    color: #fff;
    text-decoration: none;
}

.logoAbade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8F00;
    width: 4em;
    height: 4em;
    border-radius: 10px;
}

.logoAbade img {
    width: 3em;
    height: 3em;
}

.text p {
    margin: 0;
    font-weight: 300;
}

/* Return Style  (End)*/

/* Container Register */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackTransparent {
    width: 55vw;
    max-width: 55;
    min-height: 46vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin: 0vh 7vw;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
    -webkit-backdrop-filter: blur(10px);
}

.form-container {
    padding: 20px;
    color: #fff;
    text-align: center;
}

.form-container h1 {
    margin: 0 0 10px;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-align: left;
    overflow: hidden;
}

.form-container p {
    margin: 0 0 20px;
    font-size: .8rem;
    color: #fff;
    text-align: left;
    font-weight: 300;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-bottom: 2vh;
}


@media screen and (max-width: 1559px) {
    .logoAbade {
        width: 5vw !important;
    }

    .blackTransparent {
        width: 79vw;
        max-width: 76vw;
        min-height: 46vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        margin: 0vh 7vw;
        border-radius: 42px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        position: relative;
        -webkit-backdrop-filter: blur(10px);
    }

}

.passwordInput {
    display: none !important;
}

@media screen and (max-width: 1180px) {
    .logoAbade {
        width: 16vw !important;
    }

    .input-container label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #aaa;
        pointer-events: none;
        transition: all 0.3s ease;
        font-size: 15px;
        background-color: transparent;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 16px;
    }

    .input-container.full-row {
        grid-column: auto !important;
    }

    .passwordInput {
        display: block !important;
        margin: 0 auto;
    }

    .full-rowPassword {
        display: none !important;
    }

    .toggle-password {
        right: 3vw;
        top: 2.5vh;
    }
}



.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    background-color: #1D1D1D;
    padding: 1%;
    border-radius: 10px;
    min-width: 2.5vw;
    min-height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.divider span {
    position: relative;
    z-index: 1;
    background: #aaa;
    color: #fff;
    padding: 0 10px;
    border-radius: 15px;
}

.divider:before {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #aaa;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Três colunas */
    gap: 16px;
    /* Espaço entre os elementos */
}

.input-container.full-row {
    grid-column: span 3;
    /* Ocupa todas as colunas */
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    z-index: 9;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: 7px;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 5px;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 16px;
    background-color: transparent;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
    position: absolute;
    right: 12px;
    top: 19px;
}

button {
    padding: 10px;
    background-color: #ff8f00;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e65c00;
}


.step-indicator {
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 2.5vh;
    right: 3vh;
    border-radius: 12px;
}

.logoAbadeSuger img {
    margin-top: 12vh;
}

.input-container select {
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    appearance: none;
}

.input-container:has(select option:checked:not([value=""])) label {
    top: 7px;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 5px;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 16px;
    background-color: transparent;
}

.input-container select:focus {
    border-color: #6C1FD3;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

.input-container::after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #007bff;
    font-size: 16px;
}

.input-container select option {
    padding: 12px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(134, 133, 133);
    border: none;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.input-container select option:hover {
    background-color: #f0f0f0;
}

.input-container select option:checked {
    background-color: #007bff;
    color: #fff;
}

.input-container select::-ms-expand {
    display: none;
}

.input-container .hidden-label {
    display: none;
}

.after .input-container input {
    width: 86%;
    padding: 2vh;
    margin: 0 auto;
}

.after .input-container label {
    left: 2vw;
}

.after .input-group {
    display: flex;
    gap: 10px;
}

.after .input-container {
    flex: 1;
}

.after button {
    width: 28vw;
    margin: 3vh auto;
}


@media screen and (max-width: 425px) {

    .logoAbadeSuger {
        display: none;
    }

    .backToMain {
        width: 70vw;
    }


    .container {
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .form-container h1 {
        margin: 0 0 10px;
        font-size: 2.5rem;
        font-weight: bold;
        font-style: italic;
        color: #fff;
        text-align: left;
        width: auto;
        white-space: normal;
        overflow: hidden;
    }

    .step-indicator {
        top: 3.5vh;
        right: 0.5vh;
    }

    .toggle-password {
        right: 3vw;
        top: 2.7vh;
    }

    .after .input-container label {
        left: 5vw;
    }

    .after button {
        min-width: 78vw;
        margin: 3vh auto;
    }

    /* Main Style */
}


/* Modal de Sucesso */
/* Estilização básica do modal */
#success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #000;
}

.modal-content {
    position: relative;
    /* Necessário para o posicionamento absoluto do botão "X" */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 400px;
    /* Ajuste conforme necessário */
    margin: auto;
    text-align: center;
}

.modal-content h2 {
    margin: 0 0 10px;
    font-family: var(--montserrat);
    font-size: 1.6rem;
}

.modal-content p {
    color: #000;
    font-family: var(--montserrat);
    font-size: 1.1rem;
    text-align: center;
    margin: 4%;
}

.modal-content button {
    background-color: var(--dark-yellow);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--montserrat);
}

.modal-content button:hover {
    background-color: var(--yellow);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    background: none;
    border: none;
}

.close-btn:hover {
    color: #f00;
}