@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color: #eaf5f7;
  --text-color: #dfebed;
  --dark-yellow: #ffa815;
  --yellow: #ffca42;
  --dark-purple: #312682;
  --purple: #513de1;
}

#el {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--dark-yellow);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}

/* Body Style */
body {
  background-color: var(--background-color);
}

/* Background Styles */
.backgroundYellow {
  position: absolute;
  width: 40vw;
  height: 46vh;
  left: 6vw;
  top: 37vh;
  background: var(--yellow);
  filter: blur(5vw);
  transform: rotate(-30deg);
}

.backgroundYellow2 {
  position: absolute;
  width: 54vw;
  height: 31vh;
  left: -13vw;
  top: 5vh;
  background: var(--dark-yellow);
  filter: blur(5vw);
}

.backgroundPurple {
  position: absolute;
  width: 28vw;
  height: 27vh;
  left: 71vw;
  top: 54vh;
  background: var(--purple);
  filter: blur(5vw);
}

.backgroundPurple2 {
  position: absolute;
  width: 40vw;
  height: 40vh;
  left: 57vw;
  top: -5vh;
  background: var(--dark-purple);
  filter: blur(5vw);
}

/* Section with transparent background */
.transparentSection {
  width: 90%;
  max-width: 90%;
  height: 84vh;
  background-color: transparent;
  margin: 0 auto;
  border-radius: 42px;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  position: relative;
}

/* Header Style */

.generalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.logo {
  background-color: var(--dark-purple);
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 10vh;
  width: 10vh;
}

.navigation {
  background: rgb(49, 38, 130);
  background: linear-gradient(
    90deg,
    rgba(49, 38, 130, 1) 0%,
    rgba(58, 38, 201, 1) 100%
  );
  padding: 2em;
  border-radius: 78px;
  min-height: 9vh;
  width: 80vw;
  text-align: center;
  margin-right: 1vw;
  overflow: hidden;
  margin-top: 0.5%;
  position: relative;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.navigation a {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--text-color) !important;
  position: relative;
}
.carousel {
  position: relative;
  width: 100%;
  height: 300px; /* Altura do carrossel */
  overflow: hidden; /* Oculta imagens fora da área visível */
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease; /* Transição suave entre os slides */
}

.carousel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% da largura do contêiner */
}

.carousel-item img {
  width: 100%; /* Imagem ocupa toda a largura do seu contêiner */
  height: auto; /* Altura automática para manter proporção */
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  z-index: 1; /* Garante que os botões fiquem sobre as imagens */
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}
