@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
/* General Styles */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}


select,
textarea,
input {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c2bfbf;
  opacity: 0.9;
  transition: 0.3s;
  border-radius: 20px;
}

:root {
  --background-color: #eaf5f7;
  --text-color: #dfebed;
  --dark-yellow: #ffa815;
  --yellow: #ffca42;
  --dark-purple: #312682;
  --purple: #513de1;
  --brand-color: #ffd200;
  --montserrat: "Montserrat", sans-serif;
}

/* Body Style */
body {
  background-color: var(--background-color);
  overflow-x: hidden;
  background-image: url(../img/backgroundPaginaInicial.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.transparentSection {
  width: 90%;
  max-width: 90%;
  height: 84vh;
  background-color: transparent;
  margin: 12vh auto;
  border-radius: 42px;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  position: relative;
}

/* Header Style */

.generalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  background-color: var(--dark-purple);
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  position: relative;
  z-index: 9999;
  top: 0vw;
  left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.logo img {
  height: 7vh;
  width: 7vh;
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 3;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.full-screen-menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--purple);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.full-screen-menu nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.full-screen-menu nav ul {
  list-style-type: none;
  padding: 0;
}

.full-screen-menu nav ul li {
  margin: 10px 0;
}

.full-screen-menu nav ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.full-screen-menu.active {
  display: flex;
  width: 103vw;
  height: 107vh;
  top: 0;
  left: 0;
  border-radius: 0;
  opacity: 1;
}

.full-screen-menu active {
  top: 0px;
  left: 0px;
  border-radius: 0px;
  width: 101vw !important;
  min-height: 101vh !important;
}

.full-screen-menu.active nav {
  display: flex;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 5;
}

/* Navigation Style */

.navigation {
  background: rgb(49, 38, 130);
  background: linear-gradient(90deg,
      rgba(49, 38, 130, 1) 0%,
      rgba(58, 38, 201, 1) 100%);
  padding: 0.5em;
  border-radius: 78px;
  min-height: 3vh;
  width: 81vw;
  text-align: center;
  margin-right: 1vw;
  overflow: hidden;
  margin-top: 0.5%;
  position: relative;
  z-index: 10;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}

.navigation a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  color: white !important;
  padding: 0.3em 0.5em;
  /* Ajuste no padding */
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.navigation a .animation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--yellow);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border-top-left-radius: 50px;
}

.navigation a:hover {
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation a:hover .animation {
  transform: scaleX(1);
  transform-origin: left;
}

/* Carousel Style */

.carousel {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 40vh;
  overflow: hidden;
  border-radius: 41px;
  z-index: 1;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  height: 42vh;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators [data-bs-target] {
  width: 25vw;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: white;
  border: none;
  margin: 0 5px;
}

.carousel-indicators button.active {
  background-color: var(--dark-yellow);
}

/* Card Style */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vw;
  height: 36vh;
  padding: 0 10vw;
  margin-top: 2em;
  font-family: var(--montserrat);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.4s ease;
}

.card {
  width: 13vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

.card-1 {
  background: url(../img/NOSSA\ INSPIRAÇÕES.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-2 {
  background: url(../img/NOSSA\ LOJA.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-3 {
  background: url(../img/AGENDA.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-4 {
  background: url(../img/QUER\ PUBLICAR_.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-5 {
  background: url(../img/NOTICIAS.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-6 {
  background: url(../img/INDIQUE\ UMA\ OBRA.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container:hover .card {
  filter: blur(0.3vw);
}

.card-container .card:hover {
  width: 20vw;
  transform: scale(1.1);
  filter: blur(0);
  z-index: 10;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.4);
}


/* Footer Style */

footer {
  min-height: 100vh;
  background-color: #32268a;
}

.generalFooter {
  display: flex;
  height: auto;
}

.logoFooter {
  width: 8vw;
  min-height: 50vh;
  background-color: #ffa815;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3em 7em;
}

.logoFooter img {
  height: auto;
  width: 9vw;
}

.logoFooter2:nth-child(1) {
  width: 8vw;
  min-height: 10vh;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #ffa815;
  border-top-left-radius: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3em 7em;
}

.contact {
  background-color: #fff;
  width: 100%;
}

.contact h1 {
  color: #32268a;
  font-family: var(--montserrat);
  font-weight: 600;
  padding: 2.5%;
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  justify-content: space-between;
  padding: 2.5%;
  font-family: var(--montserrat);
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: #32268a;
}

.form-group {
  flex: 1 1 45%;
  margin-bottom: 10px;
}

.form-group:nth-child(2) {
  margin-left: 1vw;
}

.form-group:nth-child(4) {
  margin-left: 1vw;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #32268a;
  height: 5vh;
  max-height: 5vh;
  min-height: 5vh;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group textarea {
  height: auto;
}

.form-group {
  position: relative;
}

.form-group select {
  width: 100%;
  padding: 8px;
  border: 2px solid transparent;
  border-bottom: 2px solid #32268a;
  height: 5vh;
  max-height: 5vh;
  appearance: none;
  background-color: white;
  font-family: var(--montserrat);
}

.form-group select:focus {
  border-bottom-color: #32268a;
}

.books {
  background-color: #fff;
}

.books img {
  width: 20vw;
  height: auto;
}

.submit {
  width: 6.81em;
  height: 3.25em;
  background: #312682;
  border-radius: 80px;
  border: none;
  color: var(--dark-yellow);
  font-family: var(--montserrat);
  font-weight: 600;
  margin-top: 3vh;
}

.form-group-button {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.purpleFooter {
  background-color: #32268a;
  display: flex;
  flex-wrap: wrap;
}

.yellowLeft {
  background-color: #32268a;
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentFooter {
  display: flex;
  flex: 1 1 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6vh;
  padding: 1em;
  font-family: var(--montserrat);
  color: #ffa500;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  color: #ffa500;
  font-size: 1.6em;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 3vh;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #ffa500;
  text-decoration: none !important;
  font-size: 1.1rem !important;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column span {
  font-size: 0.8em;
  color: #ffa500;
}

.logos {
  display: flex;
  background-color: #32268a;
  padding-left: 3.9vw;
  margin-top: 4vh;
}

.logo1 img {
  width: 3vw;
  height: auto;
  margin-left: auto;
  margin-top: 1vh;
}

.logo2 img {
  width: 2vw;
  height: auto;
  margin-left: 1vw;
  margin-bottom: 2vw;
}

.credits {
  display: none;
}

.dropdown,
.orange {
  display: none;
}

@media screen and (max-width: 1200px) {
  .footer-column {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 768px) {
  .yellowLeft {
    flex-basis: 100%;
  }

  .contentFooter {
    flex-basis: 100%;
  }

  .footer-column {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 425px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .transparentSection {
    height: 40vh;
  }

  /* Menu Celular */

  .orange {
    background-color: #FF8F00;
    z-index: 9999;
    position: fixed;
    height: 7vh;
    width: 13.8vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .orange img {
    max-width: 70%;
    max-height: 100%;
  }

  .dropdown {
    position: fixed;
    top: .5vh;
    left: 3.2vw;
    width: 16.8vw;
    background-color: #161616;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 15px;
  }

  .dropdown-item {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .dropdown-item img {
    width: 24px;
    height: 24px;
  }

  .dropdown.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    padding-top: 7vh;
  }

  /* Menu Celular End */

  .navigation {
    display: none;
  }

  .logo img {
    display: none;
  }

  .logo {
    display: none;
  }

  .books {
    display: none;
  }

  footer {
    position: relative;
    z-index: -1;
  }

  .generalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .logoFooter img {
    height: auto;
    width: 13vw;
  }

  .logoFooter {
    width: 8vw;
    min-height: 50vh;
    background-color: #ffa815;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2em 3em;
  }

  .logoFooter2:nth-child(1) {
    padding: 3em 3em;
  }

  .form {
    width: 74vw;
  }

  .form-group select {
    height: 6vh;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    max-height: 8.26vh;
  }

  .form label {
    width: 51vw;
  }

  .card-container {
    display: none;
  }

  .card-link {
    display: block;
    margin: 0;
    position: relative;
  }

  .card {
    width: 67vw !important;
    height: 25vh;
    transition: transform 0.4s ease, z-index 0.4s ease, opacity 0.4s ease;
    position: absolute;
    top: 0;
    right: -36vw;
    z-index: 1;
    transform: translateY(calc(var(--index)* 10px)) translateX(calc(var(--index)* -10px)) rotate(-2deg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
  }

  .card-1 {
    background: url(../img/NOSSA\ INSPIRAÇÕES.svg);
  }

  .card-2 {
    background: url(../img/NOSSA\ LOJA.svg);
  }

  .card-3 {
    background: url(../img/AGENDA.svg);
  }

  .card-4 {
    background: url(../img/QUER\ PUBLICAR_.svg);
  }

  .card-5 {
    background: url(../img/NOTICIAS.svg);
  }

  .card-6 {
    background: url(../img/INDIQUE\ UMA\ OBRA.svg);
  }

  .contentFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .footer-column {
    margin: 0;
  }

  .footer-column h3 {
    font-size: 1.4em;
  }

  .footer-column ul li a {
    font-size: 1rem !important;
  }

  .footer-column span {
    display: none;
  }

  .logos {
    display: none;
  }

  .credits {
    display: flex;
    padding: 3%;
    width: 100vw;
  }

  .credits p {
    margin: 0;
    text-align: center;
    color: var(--dark-yellow);
    font-family: var(--montserrat);
  }

  .credits a {
    color: var(--dark-yellow);
  }

  .purpleFooter {
    text-align: center;
    min-width: 100vw;
  }

}